<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Test</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="index.html">Totally<span>Alien</span></a>
        </div>

    </div>

    <section class="search_section">
        <div class="search_box">
            <form method="POST" action="/">
                <label>From</label>
                <input type="text" id="from" name="from">
                <label>To</label>
                <input type="text" id="to" name="to">
                <input type="date" if="date" name="date">
                <input type="submit">
                

            </form>

        </div>

            <h1 class="rem">Results found ...</h1>
            <div class="results">
                <h3>flight no:xxx</h5>
                    <h5 class="time res">11.45am -> 12:50pm</h5>
                    <h5 class="price res">$300</h5>
                    <div class="btns">
                        <button class="btnw">booknow</button>
                        <button class="adnw">Addnow</button>
                    </div>

            </div>
    </section>

    
</body>


</html>